.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.weather-main-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-main-info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 1rem;
}
.weather-description{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
.weather-currentTemp {
  font-size: 4rem;
  font-weight: 600;
}

.weather-city-name{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}