@import '@styles/variables.css';
.container-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-3d{
  min-height: 20rem;
  width: min(80vw, 30rem);
  background-color: #04294060;
  
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  transform-style: preserve-3d;
  transform: 
    perspective(5000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}
.card-3d > * {
  text-shadow: 0 0 0.3em currentColor;
}

.card-3d::before,
.card-3d::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}
.card-3d::before{
  inset: 0.75rem;
  background: black;
  transform:translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}
.card-3d::after {
  inset: -1rem;
  background: linear-gradient(-45deg, var(--clr-primary), var(--clr-secondary));
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-50px)
}

p{
  text-align: center;
}

@media (max-width: 600px) {
  .container-card{
    justify-content: flex-start;
  }
  .card-3d{
    margin-top: 1.5rem;
  }
}
