.weather-loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.weather-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  max-width: 30rem;
  padding: 1rem;
}
.spinner-icon {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
