@import '../../styles/variables.css';

.searchbar {
  position: absolute;
  bottom: 5rem;
  display: flex;
  border: 4px solid var(--clr-text);
  border-radius: 16px;
  background-color: transparent;
  width: min(100%, 300px);
  overflow: hidden;
  filter: drop-shadow(0 0 0.3em currentColor);
  backdrop-filter: blur(10px);
}

.searchbar:focus-within {
  border: 4px solid var(--clr-secondary);
}

.searchbar input[type="text"] {
  flex: 1;
  padding: 12px 20px;
  border: none;
  background-color: transparent;
  color: var(--clr-text);
  font-size: 16px;
}
.searchbar input:hover,
.searchbar input:focus {
  border: none;
  outline: none;
}

.searchbar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
}
.searchbar button:hover,
.searchbar button:focus {
  border: none;
  outline: none;
}

.searchbar ::-webkit-input-placeholder {
  color: var(--clr-text);
}

.searchbar :-moz-placeholder {
  color: var(--clr-text);
}

.searchbar ::-moz-placeholder {
  color: var(--clr-text);
}

.searchbar :-ms-input-placeholder {
  color: var(--clr-text);
};

